html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
img, svg {
  max-width: 100%;
  height: auto;
}

button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
  margin: 0;
  padding: 0;
}

iframe {
  border: none;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

input, textarea {
  margin: 0;
  padding: 0;
  /*border: none;*/
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  color: #000000;
  background-color: #ffffff;
}

.container {
  max-width: 1360px;
  padding: 0 30px;
  margin: 0 auto;
}



